<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daon.host.web.mapper.ChangePasswordMapper">

	<select id="setChangePassword" resultType="com.daon.host.web.vo.ChangePasswordVo$Table">
		select * from tb_o_webuser
		<where>
			<if test=" changePassword.id != null and changePassword.id!= '' ">
				AND login_id = #{changePassword.id}
			</if>
			<if test=" changePassword.password != null and changePassword.password != '' ">
				AND login_pw = #{changePassword.password}
			</if>

		</where>
	</select>

</mapper>