<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daon.host.web.mapper.LevelMenuMapper">

	<select id="getList" resultType="com.daon.host.web.vo.LevelMenuVo$CRUD">
		select * from tb_c_menu_level
	</select>


<update id="updateLevel" >
	
		update tb_c_menu_level set 
		 menu_list=#{req.menuList}, 
		 upd_id=#{req.id}, 
		 upd_date=current_timestamp()
		 
		<where>
			<if test=" req.level!= null and req.level != '' ">
				AND level = #{req.level}
			</if>
		</where>
	</update>
</mapper>