<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daon.host.web.mapper.LoginMapper">

	<select id="getLogin" resultType="com.daon.host.web.vo.LoginVo$Table">
		select * from tb_o_webuser
		<where>
			<if test=" login.id != null and login.id!= '' ">
				AND login_id = #{login.id}
			</if>
			<if test=" login.password != null and login.password != '' ">
				AND login_pw = #{login.password}
			</if>

		</where>
	</select>

</mapper>