<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daon.host.web.mapper.NoticeMapper">

	<select id="getList" resultType="Notice">
		SELECT notice_no,
			apt_id,
			notice_writer,
			notice_content,
			notice_title,
			remk,
			ins_id,
			ins_date,
			upd_id,
			upd_date
		FROM 
			tb_o_notice
		ORDER BY 
			ins_date DESC
	</select>

	<select id="getDetail" resultType="Notice">
		SELECT 
			notice_no,
			apt_id,
			notice_writer,
			notice_content,
			notice_title,
			remk,
			ins_id,
			ins_date,
			upd_id,
			upd_date
		FROM 
			tb_o_notice
		WHERE
			notice_no = #{noticeNo}
	</select>

	<insert id="insert" parameterType="Notice">
		INSERT INTO 
			tb_o_notice
		(
				notice_no,
				apt_id,
				notice_writer,
				notice_content,
				notice_title,
				remk,
				ins_id,
				ins_date
		)
		VALUES
		(
			(
			select ifnull(max(notice_no)+1, concat(date_format(now(),'%Y%m%d'),'0001') ) 
			    from tb_o_notice ALIAS_FOR_SUBQUERY
			   where left(notice_no,8) = date_format(now(),'%Y%m%d') 
			   order by notice_no desc
			),
			#{aptId},
			#{noticeWriter},
			#{noticeContent},
			#{noticeTitle},
			#{remark},
			#{insId},
			now()	
		)
	</insert>
	
	<delete id = "delete" parameterType = "string">
		DELETE FROM 
			tb_o_notice
		WHERE
			notice_no = #{noticeNo}
	</delete>
	
	<update id="update">
		UPDATE 
			tb_o_notice
		SET
			notice_title 	= 	#{noticeTitle},
			notice_content	= 	#{noticeContent}, 
			remk 			=	#{remark},
			upd_id 			=	#{updId},
			upd_date 		=	now()
		WHERE
			notice_no = #{noticeNo}
	</update>
	
</mapper>