<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout</button>
    </form>

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">
	            <div style="width:600px; float:right;">
	            	<div class="row">
	            		<div class="col-sm-5 col-md-6">
							<label>접속자 USER_KEY : </label>
		            		<span th:utext="${userKey}">aaaa</span>
						</div>
	            		<div class="col-sm-5 col-md-6">
							<label>Websocket Connect</label>
		            		<button type="button" class="btn btn-primary" 
		            		th:onclick="|javascript:connectWs()|" >웹소켓 접속</button>
		            		<script>
								function connectWs() {
									location.href = "http://localhost:8080/connect/ALD01";
								}
							</script>
						</div>
	            	</div>
	            </div>
                <img th:src="@{/img/welcome.png}" class="img-responsive left-block" width="400" height="400" alt="Beer" />
            </div>
            <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
        </div>
    </div>

</div>
</body>
</html>