<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daon.host.center.mapper.UserMapper">
	
    <select id="findUserByLoginId" resultType="MobileUser">
        SELECT APT_ID
         	  ,LOGIN_ID
         	  ,LOGIN_PW
         	  ,USER_NAME
         	  ,BLUE_ID
         	  ,DONG
         	  ,HO
         	  ,HOUSEHOLD_YN
         	  ,CAR_NUM
         	  ,CAR_TYPE
         	  ,USER_ACTIVE
		  FROM TB_O_MOBUSER
		  <where>
            <if test=" login_id != null and login_id != '' ">
                AND LOGIN_ID = #{login_id}
            </if>
		  </where>

    </select>

    <insert id="saveUser" parameterType="MobileUser" >
        INSERT INTO TB_O_MOBUSER
        (
             APT_ID
			,LOGIN_ID
			,LOGIN_PW
			,USER_NAME
			,USER_PHONE
			,BLUE_ID
			,DONG
			,HO
			,HOUSEHOLD_YN
			,CAR_NUM
			,CAR_TYPE
			,USER_ACTIVE
			,INS_ID
			,INS_DATE
			,UPD_ID
			,UPD_DATE
        )
        VALUES
        (
             #{param.apt_id}
			,#{param.login_id}
			,#{param.login_pw}
			,#{param.user_name}
			,#{param.user_phone}
			,#{param.blue_id}
			,#{param.dong}
			,#{param.ho}
			,#{param.household_yn}
			,#{param.car_num}
			,#{param.car_type}
			,#{param.user_active}
			,#{param.ins_id}
			,now()
			,#{param.upd_id}
			,now()
        )
    </insert>

</mapper>